/* --------------------------------------------------------------
/* =Variable
-------------------------------------------------------------- */
:root {
  --font-primary: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  --font-mono: SFMono-Regular, "Roboto Mono", "IBM Plex Mono", "Source Code Pro", monospace;

  --text-primary: #121212;
  --text-secondary: #828282;
  --bg-primary: #ffffff;
  --bg-secondary: #f8f8f8;
  --bg-secondary-darker: #f0f0f0;
  --border: #e1e1e1;
  --border-darker: #bebebe;

  --font-size-regular: 16px;
  --font-size-large: 24px;
  --font-size-xl: 40px;
  --font-size-small: 14px;
}

:root body.dark-mode {
  --text-primary: #ededed;
  --text-secondary: #a0a0a0;
  --bg-primary: #161616;
  --bg-secondary: #1c1c1c;
  --bg-secondary-darker: #393939;
  --border: #232323;
  --border-darker: #464646;
}


/* --------------------------------------------------------------
/* =Global
-------------------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 !important;
}
body {
  line-height: 1.6;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-primary);
  background: var(--bg-primary);
  color: var(--text-primary);
}

/* --------------------------------------------------------------
/* = Layout
-------------------------------------------------------------- */
.container {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 0 5px;
}
.large-container {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.full-row-border-top, .full-col-border-top {
  position: relative;
}
.full-row-border-top::before {
  content: "";
  background: var(--border);
  height: 1px;
  width: calc(100% - 30px);
  top: 0;
  left: 15px;
  position: absolute;
}
.full-col-border-top::before {
  content: "";
  background: var(--border);
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.col-50 {
  width: 50%;
  padding: 0 15px;
  max-width: 50%;
}
.col-25 {
  width: 25%;
  padding: 0 15px;
  max-width: 25%;
}
.col-33 {
  width: 33.3%;
  padding: 0 15px;
  max-width: 33.3%;
}
.col-75 {
  width: 75%;
  padding: 0 15px;
  max-width: 75%;
}
.col-100 {
  width: 100%;
  padding: 0 15px;
}

.row.unpadded .col-50,
.row.unpadded .col-25,
.row.unpadded .col-33,
.row.unpadded .col-75,
.row.unpadded .col-100 {
  padding: 0;
}

.right-padded-col {
  padding-right: 80px;
}

@media screen and (max-width: 821px) {
  .large-container, .container {
    padding: 0 15px;
  }
  .row {
    display: block;
  }
  .col-50, .col-25, .col-33, .col-75 {
    width: 100%;
    max-width: 100%;
  }
  .right-padded-col {
    padding-right: 15px;
  }
}

/* --------------------------------------------------------------
/* = Show/hide
-------------------------------------------------------------- */
.show-on-desktop-only {
  display: block;
}
.show-on-mobile-only {
  display: none;
}

@media screen and (max-width: 821px) {
  .show-on-desktop-only {
    display: none;
  }
  .show-on-mobile-only {
    display: block;
  }
}


/* --------------------------------------------------------------
/* = Image
-------------------------------------------------------------- */
.fluid-img {
  display: block;
  width: 100%;
  height: auto;
}
figure {
  padding: 0;
  margin: 0;
}
figcaption {
  margin-top: 12px;
}

/* --------------------------------------------------------------
/* = Border
-------------------------------------------------------------- */
.border-all-around {
  border: 1px solid var(--border);
}
.border-top {
  border-top: 1px solid var(--border);
}
.border-bottom {
  border-bottom: 1px solid var(--border);
}
.border-left {
  border-left: 1px solid var(--border);
}
.border-right {
  border-right: 1px solid var(--border);
}

/* --------------------------------------------------------------
/* = Max width / line length
-------------------------------------------------------------- */
.max-width-300 {
  max-width: 300px;
}
.max-width-600 {
  max-width: 600px;
}

/* --------------------------------------------------------------
/* = Box
-------------------------------------------------------------- */
.box.small {
  padding: 16px;
  border: 1px solid var(--border);
  position: relative;
}
.box.large {
  padding: 48px;
  border: 1px solid var(--border);
  position: relative;
}
.box.no-border {
  border: none;
}
.box.white {
  background: var(--bg-primary);
}
.box.grey {
  background: var(--bg-secondary);
}

.box-link {
  padding: 24px 0;
  border-top: 1px solid var(--border);
  position: relative;
}
.box-link:hover {
  border-top: 1px solid var(--border-darker);
}
.box-link::before {
  content: "\2197";
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  top: 24px;
  right: 0;
  color: var(--text-secondary);
}

@media screen and (max-width: 821px) {
  .box.large {
    padding: 24px;
  }
}


/* --------------------------------------------------------------
/* = Button
-------------------------------------------------------------- */
.button {
  display: inline-block;
  cursor: pointer;
  border-radius: 99px;
}
.button.primary {
  border: 1px solid var(--text-primary);
  background: var(--text-primary);
  color: var(--bg-primary);
}
.button.primary:hover {
  opacity: .8;
}
.button.secondary {
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text-primary);
}
.button.secondary:hover {
  border-color: var(--border-darker);
  background: var(--bg-secondary);
}
.button.small {
  padding: 4px 16px;
  font-size: var(--font-size-small);
}
.button.regular {
  padding: 6px 20px;
  font-size: var(--font-size-regular)
}

/* --------------------------------------------------------------
/* = Label
-------------------------------------------------------------- */
.label {
  display: inline-block;
  color: var(--text-primary);
  line-height: 100%;
  opacity: 1;
  border-radius: 999px;
  vertical-align: baseline;
  font-weight: normal;
}
.label.small {
  font-size: var(--font-size-small);
  padding: 2px 8px;
}
.label.regular {
  font-size: var(--font-size-regular);
  padding: 4px 12px;
}
.label.primary {
  border: 1px solid var(--text-primary);
}
.label.secondary {
  border: 1px solid var(--border);
}

/* --------------------------------------------------------------
/* = Type
-------------------------------------------------------------- */
.text-color-primary {
  color: var(--text-primary);
}
.text-color-secondary {
  color: var(--text-secondary);
}
.text-white {
  color: #ffffff;
}

.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}

.line-height-100 {
  line-height: 100%;
}

.text-small {
  font-size: var(--font-size-small);
}
.text-regular {
  font-size: var(--font-size-regular);
}
.text-large {
  font-size:  var(--font-size-large);
  width: 100%;
  max-width: 700px;
  line-height: 140%;
}
.text-extralarge {
  font-size: 32px;
  line-height: 130%;
  max-width: 800px;
}

p {
  font-weight: 400;
  margin: 0;
  font-size: var(--font-size-regular);
  line-height: 160%;
  display: block;
}

a {
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
a.block-link {
  display: block;
  position: relative;
}

p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: underline;
  text-decoration-color: var(--text-secondary);
  text-underline-offset: 0.25rem;
}
p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration-color: var(--text-primary);
}

@media screen and (max-width: 821px) {
  .text-regular {
    font-size: 16px;
  }
  .text-large {
    font-size: 20px;
    line-height: 130%;
  }
  .text-extralarge {
    font-size: 24px;
  }
}



/* --------------------------------------------------------------
/* = Spacing
-------------------------------------------------------------- */
.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.large-margin-bottom {
  margin-bottom: 12vh;
}
.large-margin-top {
  margin-top: 12vh;
}
.medium-margin-bottom {
  margin-bottom: 6vh;
}
.medium-margin-top {
  margin-top: 6vh;
}
.small-margin-bottom {
  margin-bottom: 1vh;
}
.small-margin-top {
  margin-top: 1vh;
}

.no-padding {
  margin: 0;
}

.padded-section {
  padding: 12vh 0;
}

.large-padding-bottom {
  padding-bottom: 12vh;
}
.large-padding-top {
  padding-top: 12vh;
}
.medium-padding-bottom {
  padding-bottom: 6vh;
}
.medium-padding-top {
  padding-top: 6vh;
}
.small-padding-bottom {
  padding-bottom: 1vh;
}
.small-padding-top {
  padding-top: 1vh;
}

