/* --------------------------------------------------------------
/* =Header
-------------------------------------------------------------- */
.header-nav {
  padding: 20px 0;
  margin-top: 10vh;
  font-size: var(--font-size-small);
}
.menu-item {
  text-decoration: none;
  color: var(--text-secondary);
  line-height: 100%;
}
.nav-separator {
  margin: 0 8px;
  color: var(--border);
  line-height: 100%;
}
.menu-item:hover  {
  opacity: .8;
}
.menu-item.active  {
  color: var(--text-primary);
}
.backtotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  line-height: 38px;
  text-align: center;
  z-index: 3;
  font-size: var( --font-size-regular);
  color: var(--text-primary);
  border-radius: 99px;
  background: var(--bg-primary);
  border: 1px solid var(--border);
  cursor: pointer;
}

/* --------------------------------------------------------------
/* =Footer
-------------------------------------------------------------- */
.avatar {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: var(--bg-secondary);
  border: 1px solid var(--text-secondary);
  box-shadow: inset 2px -2px 3px var(--text-secondary);
  position: relative;
  animation: head-rotation 8s infinite ease;
}
@keyframes head-rotation {
  0% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }

  20% {
    box-shadow: inset 4px -2px 3px var(--text-secondary);
  }

  30% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }

  55% {
    box-shadow: inset 4px 1px 3px var(--text-secondary);
  }

  65% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }

  100% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }
}
.avatar::before {
  content: '';
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: var(--text-secondary);
  position: absolute;
  top: 10px;
  left: 10px;
  animation: eye-movement 8s infinite ease;
}
.avatar::after {
  content: '';
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: var(--text-secondary);
  position: absolute;
  top: 10px;
  left: 18px;
  animation: eye-movement 8s infinite ease;
}
@keyframes eye-movement {
  0% {
    transform: translateX(0px) translateY(0) scaleY(1);
  }

  20% {
    transform: translateX(2px) translateY(0) scaleY(1);
  }

  30% {
    transform: translateX(-2px) translateY(0) scaleY(1);
  }

  55% {
    transform: translateX(0px) translateY(4px) scaleY(1);
  }

  65% {
    transform: translateX(0px) translateY(0px) scaleY(0.5);
  }

  70% {
    transform: translateX(0px) translateY(0px) scaleY(1);
  }

  100% {
    transform: translateX(0px) translateY(0px) scaleY(1);
  }
}

/* --------------------------------------------------------------
/* =Hero
-------------------------------------------------------------- */
.hero {
  padding: 6vh 0;
  position: relative;
}
.availability {
  padding: 7px 0 7px 20px;
  margin-left: 24px;
  position: relative;
  font-size: 16px;
  display: inline-block;
}
.availability::before {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 16px;
  background: #929292;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  /*
  transform: scale(1);
  animation: pulse 1.5s infinite ease-in-out;
  animation-direction: alternate;
  */
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #c4760e33;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 5px #c4760e33;
  }
}
h1 {
  font-size: var(--font-size-xl);
  line-height: 1.3;
  font-weight: 500;
}
h1 a {
  text-decoration: underline;
  text-decoration-color: var(--text-secondary);
}
h2, h3, h4, h5, h6 {
  font-size: var(--font-size-regular);
  line-height: 1.2;
  font-weight: 600;
}

/* --------------------------------------------------------------
/* =Work
-------------------------------------------------------------- */
.project-details {
  position: relative;
}
.project-details::before {
  content: "\2197";
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-secondary);
  line-height: 100%;
}

/* --------------------------------------------------------------
/* =Bikes
-------------------------------------------------------------- */
.bike-card__metas {
  border-top: 1px solid var(--border);
  padding-top: 10px;
  margin: 40px 0;
}
.bike-card__metas span {
  margin-right: 16px;
}

/* --------------------------------------------------------------
/* =Gallery
-------------------------------------------------------------- */
.lazy {
  background-image: url('../img/loader.gif');
  background-size: 24px 24px;
  background-color: var(--bg-secondary);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* --------------------------------------------------------------
/* =Footnotes
-------------------------------------------------------------- */
.answers {
  padding: 16px 0;
}
.answers .message {
  background: rgba(0, 0, 0, 0.1);
  padding: 4px 12px;
  border-radius: 6px;
}
.answers .button {
  margin-right: 4px;
}

/* --------------------------------------------------------------
/* =Moments
-------------------------------------------------------------- */
.une-diapo {
  aspect-ratio: 1 / 1;
  margin: 15px 0;
  border: 1px solid var(--border);
  background: var(--bg-primary);
  height: auto;
  position: relative;
  cursor: pointer;
}
.une-diapo:hover {
  background: var(--bg-secondary);
  border: 1px solid var(--border-darker);
}
.une-diapo img {
  display: block;
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.lightbox-container {
  background: var(--bg-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 4;
}
.lightbox-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  max-width: 620px;
  max-height: 620px;
  height: auto;
  width: auto;
}
.close-lightbox {
  cursor: pointer;
}
.lightbox-image-name {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 320px;
  text-align: center;
  margin-left: -160px;
}
.close-lightbox {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 320px;
  text-align: center;
  margin-left: -160px;
  cursor: pointer;
  opacity: 0.5;
}
.prev-image {
  position: absolute;
  top: 50%;
  height: 50px;
  line-height: 50px;
  left: 10%;
  margin-top: -25px;
  cursor: pointer;
  opacity: 0.5;
}
.next-image {
  position: absolute;
  top: 50%;
  height: 50px;
  right: 10%;
  line-height: 50px;
  margin-top: -25px;
  cursor: pointer;
  opacity: 0.5;
}
.close-lightbox:hover,
.prev-image:hover,
.next-image:hover {
  opacity: 1;
}

/* --------------------------------------------------------------
/* =SMARTPHONE
-------------------------------------------------------------- */
@media screen and (max-width: 821px) {
  .header-bar__navigation .menu-item {
    margin-left: 0;
  }
  .lightbox-image {
    max-width: 80%;
  }
  .next-image, .prev-image {
    top: auto;
    bottom: 15px;
    height: 30px;
    line-height: 30px;
  }
}
