/* --------------------------------------------------------------
/* =Header
-------------------------------------------------------------- */
header {
  margin-top: 8vh;
  z-index: 3;
  position: relative;
}
.header-path {
  display: flex;
  gap: 12px;
  font-size: var(--font-size-small);
}
.item-value-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  padding: 0.8vh 0;
}
.item-value-row__item {
  color: var(--text-secondary);
}
.item-value-row__value, .label-item-row__value a {
  color: var(--text-primary);
  text-decoration: none;
}
.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  position: relative;
}
.menu-panel {
  position: absolute;
  top: 48px;
  z-index: 3;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(.58,.01,.09,1) 0.1s;
  visibility: hidden;
}
.menu-panel.open {
  opacity: 1;
  visibility: visible;
}
.page::before {
  content: "";
  position: fixed;
  background-color: var(--bg-secondary) 50%;
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.page.menu-open::before {
  opacity: 1;
  visibility: visible
}


/* --------------------------------------------------------------
/* =Footer
-------------------------------------------------------------- */
.nav-columns {
  display: flex;
}
.nav-columns .column {
  width: 50%;
}
.nav-columns ul {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
}
.nav-columns ul li {
  margin: 10px 0;
}
.nav-columns ul li:last-of-type {
  margin-bottom: 0;
}
.nav-columns ul li a {
  color: var(--text-secondary);
}
.avatar {
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: var(--bg-secondary);
  border: 1px solid var(--text-secondary);
  box-shadow: inset 2px -2px 3px var(--text-secondary);
  position: relative;
  animation: head-rotation 8s infinite ease;
}
@keyframes head-rotation {
  0% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }

  20% {
    box-shadow: inset 4px -2px 3px var(--text-secondary);
  }

  30% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }

  55% {
    box-shadow: inset 4px 1px 3px var(--text-secondary);
  }

  65% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }

  100% {
    box-shadow: inset 2px -2px 3px var(--text-secondary);
  }
}
.avatar::before {
  content: '';
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: var(--text-secondary);
  position: absolute;
  top: 10px;
  left: 10px;
  animation: eye-movement 8s infinite ease;
}
.avatar::after {
  content: '';
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: var(--text-secondary);
  position: absolute;
  top: 10px;
  left: 18px;
  animation: eye-movement 8s infinite ease;
}
@keyframes eye-movement {
  0% {
    transform: translateX(0px) translateY(0) scaleY(1);
  }

  20% {
    transform: translateX(2px) translateY(0) scaleY(1);
  }

  30% {
    transform: translateX(-2px) translateY(0) scaleY(1);
  }

  55% {
    transform: translateX(0px) translateY(4px) scaleY(1);
  }

  65% {
    transform: translateX(0px) translateY(0px) scaleY(0.5);
  }

  70% {
    transform: translateX(0px) translateY(0px) scaleY(1);
  }

  100% {
    transform: translateX(0px) translateY(0px) scaleY(1);
  }
}

/* --------------------------------------------------------------
/* = Homepage
-------------------------------------------------------------- */
.hero {
  padding: 8vh 0 12vh 0;
}

/* --------------------------------------------------------------
/* = Video
-------------------------------------------------------------- */
.video-container {
  position: relative;
}
.video-container video {
  position: relative;
  z-index: 1;
}
.video-container video::-webkit-media-controls {
  display: none;
  pointer-events: none;
}
.video-container__button {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: var(--radius-regular);
  background: #ffffff;
  padding: 12px;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  box-shadow: 0 0 35px rgb(0, 0, 0, 0.4);
  z-index: 3;
}
.video-container__button svg {
  width: 16px;
  height: 16px;
  display: block;
}
.video-container__button.playing .video-container__button__play {
  display: none;
}
.video-container__button .video-container__button__pause {
  display: none;
} 
.video-container__button.playing .video-container__button__pause {
  display: block;
}

/* --------------------------------------------------------------
/* =Opinionated type
-------------------------------------------------------------- */
h1 {
  font-size: var(--font-size-large);
  line-height: 1.2;
  font-weight: 400;
}
h2, h3, h4, h5, h6 {
  font-size: var(--font-size-regular);
  line-height: 1.2;
  font-weight: 600;
}

/* --------------------------------------------------------------
/* =Work
-------------------------------------------------------------- */
.project-card:hover h2 {
  text-decoration: underline;
  text-decoration-color: var(--text-secondary);
  text-underline-offset: 0.25rem;
}
.project-card img {
  aspect-ratio: 4 / 3;
}
.box-reveal-hover, .row-box-reveal-hover {
  position: relative;
  cursor: pointer;
}

.box-reveal-hover:hover::before {
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  left: -10px;
  top: -10px;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-regular);
  z-index: -1;
}

.row-box-reveal-hover:hover::before {
  content: "";
  width: calc(100% + 20px);
  height: 100%;
  position: absolute;
  left: -10px;
  top: 0px;
  background-color: var(--bg-secondary);
  border-radius: var(--radius-regular);
  z-index: -1;
}

/* --------------------------------------------------------------
/* =Bikes
-------------------------------------------------------------- */
.bike-card__metas span {
  margin-right: 4px;
}

/* --------------------------------------------------------------
/* =Gallery
-------------------------------------------------------------- */
.lazy {
  background-image: url('../img/loader.gif');
  background-size: 24px 24px;
  background-color: var(--bg-secondary);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.poster-feed .poster:nth-child(even) {
  padding-top: 8vh;
}
.poster {
  width: 50%;
  padding: var(--gutter);
}
.poster-frame {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--radius-small);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

/* --------------------------------------------------------------
/* =Blog
-------------------------------------------------------------- */
.the-content p {
  margin-bottom: 40px;
  color: var(--text-secondary);
}
.the-content h1 {
  margin-bottom: 12vh;
}
.the-content h2, 
.the-content h3, 
.the-content h4,
.the-content h5, 
.the-content h6 {
  margin-top: 80px;
}
.the-content ul {
  margin-bottom: 40px;
  padding: 0 0 0 20px;
  list-style: none;
  font-size: var(--font-size-regular);
  color: var(--text-secondary);
}
.the-content ul li {
  margin-bottom: 20px;
}
.the-content ul li strong {
  color: var(--text-primary);;
}
.the-content ul li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}
.the-content img {
  display: block;
  margin: 6vh -10%;
  width: 130%;
  height: auto;
  border-radius: var(--radius-small);
  overflow: hidden;
}
.the-content hr {
  border-top: 1px dotted var(--border);
  background: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 5vh 0;
}
blockquote {
    margin: 4vh 0;
    display: block;
    font-style: italic;
    font-family: var(--font-mono);
    padding: 0 10%;
    text-align: center;
    letter-spacing: -0.03em;
}
pre {
  margin: 2vh 0;
  padding: 24px;
  background-color: var(--bg-secondary);
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
  display: block;
  height: auto;
  width: 100%;
  border-radius: var(--radius-small);
}

/* Blog Feed */

.blog-feed h2 {
  margin-top: 12vh;
}
.blog-feed h2:first-of-type {
  margin-top: 0;
}
.blog-list-item {
  padding: 1.5vh 0;
  border-top: 1px solid var(--border);
  display: block;
}
.blog-list-item__title {
  display: block;
  margin: 0;
  font-size: var(--font-size-regular);
  font-weight: 500;
  color: var(--text-primary);
}
.blog-list-item__info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: var(--font-size-small);
  color: var(--text-secondary);
}

/* --------------------------------------------------------------
/* = Gallery
-------------------------------------------------------------- */
.artwork {
  width: 50%;
  padding: var(--gutter);
}
.artwork img {
  display: block;
  width: 100%;
}

/* --------------------------------------------------------------
/* = Moments
-------------------------------------------------------------- */
.gallery-container {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.diapo {
  aspect-ratio: 1 / 1;
  width: 220px;
  background-color: var(--bg-secondary);
  height: auto;
  position: relative;
  border-radius: var(--radius-small);
}
.diapo img {
  display: block;
  width: auto;
  height: auto;
  max-height: 80%;
  max-width: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.zoomlightbox-trigger {
  cursor: zoom-in;
}
.zoomlightbox-container {
  background: var(--bg-primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 4;
  cursor: zoom-out;
}
.zoomlightbox-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  max-width: 520px;
  max-height: 520px;
  height: auto;
  width: auto;
}
.zoomlightbox-image-name {
  position: absolute;
  top: 15px;
  left: 50%;
  width: 320px;
  font-size: var(--font-size-small);
  text-align: center;
  margin-left: -160px;
}
.close-zoomlightbox {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 320px;
  font-size: var(--font-size-small);
  text-align: center;
  margin-left: -160px;
  opacity: 0.5;
}

/* --------------------------------------------------------------
/* =SMARTPHONE
-------------------------------------------------------------- */
@media screen and (max-width: 821px) {
  .zoomlightbox-image {
    max-width: 90%;
    max-height: 60%;
  }
  .thing-card__img {
    margin-bottom: 20px;
  }
  .gallery-container {
    padding: 0 30px;
  }
  .diapo {
    width: calc(50% - 10px);
  }
  .the-content img {
    margin: 6vh 0;
    width: 100%;
  }
}