/* --------------------------------------------------------------
/* =Site specific
-------------------------------------------------------------- */
header {
  position: sticky;
  top: 20px;
  z-index: 3;
}
.header-bar {
  padding: 6px;
  backdrop-filter: blur(5px);
  background: rgba(240, 240, 240, .5);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-bar__logo {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 6px;
}
.header-bar__logo svg {
  display: block;
  width: 20px;
  height: 20px;
}
.header-bar__navigation .menu-item {
  text-decoration: none;
  letter-spacing: -0.01em;
  font-size: 14px;
  margin: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  display: inline-block;
}
.header-bar__navigation .menu-item:hover  {
  color: #212121;
}
.header-bar__navigation .menu-item.active  {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px;
}

.hero {
  padding: 20vh 0 6vh 0;
  position: relative;
}
.availability {
  padding: 7px 0 7px 20px;
  margin-left: 24px;
  position: relative;
  font-size: 16px;
}
.availability::before {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 16px;
  background: #c4760e;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 1.5s infinite ease-in-out;
  animation-direction: alternate;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #c4760e33;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 5px #c4760e33;
  }
}
h1 {
  font-size: 40px;
  line-height: 120%;
  font-weight: normal;
  letter-spacing: -0.03em;
}
h2 {
  font-size: 18px;
  line-height: 120%;
  font-weight: normal;
  letter-spacing: -0.01em;
}

.box {
  padding: 24px;
  border: 1px solid #ededed;
  background: #fafafa;
  margin: 6vh 0;
  border-radius: 12px;
}


.one-project-row {
  position: relative;
  cursor: pointer;
  padding: 5px 0 5px 30px;
  transition: opacity ease .8s;
}
.one-project-row p {
  margin: 10px 0;
}
.one-project-row.active::after {
  content: "-";
  color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 17px;
  left: 15px;
  font-size: 16px;
  background: rgba(0,0,0,0.2);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 4px;
  text-align: center;
  line-height: 15px;
}
.one-project-row::after {
  content: "+";
  color: #000000;
  opacity: 0.4;
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 16px;
  background: rgba(0,0,0,0.1);
  border: 1px solid rgba(0, 0, 0, 0);
  height: 20px;
  width: 20px;
  border-radius: 4px;
  text-align: center;
  line-height: 15px;
}
.one-project-row:hover::after {
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 0.4;
}
.one-project-details-row .text-small {
  margin-top: 0;
}
.project-metas {
  padding-left: 46px;
}
.project-image {
  margin-bottom: 32px;
  background-color: rgba(0, 0, 0, 0.08);
  display: block;
}
.answers {
  padding: 16px 0;
}
.answers .message {
  background: rgba(0, 0, 0, 0.1);
  padding: 4px 12px;
  border-radius: 6px;
}
.answers .button {
  margin-right: 4px;
}

.button {
  display: inline-block;
  cursor: pointer;
}
.button.primary {
  border: 1px solid #121212;
  background: #121212;
  color: #ffffff;
}
.button.secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  color: #121212;
  border-radius: 26px;
}
.button.secondary:hover {
  border-color: #121212;
}
.button.small {
  padding: 4px 12px;
  border-radius: 26px;
  font-size: 14px;
}
.button.regular {
  padding: 6px 16px;
  border-radius: 12px;
  font-size: 16px;
}


/* --------------------------------------------------------------
/* =SMARTPHONE
-------------------------------------------------------------- */
@media screen and (max-width: 821px) {
  .row.one-project-row {
    display: flex;
  }
  h1, h2 {
    font-size: 16px;
    letter-spacing: -0.01em;
  }
  .zen {
    transform: scale(.9);
  }
  .headline-separator {
    display: inline-block;
  }
  .one-project-details-row {
    padding-top: 32px;
  }
  .one-project-row .col-50.project-name {
    max-width: 75%;
  }
  .one-project-row .col-50.project-year {
    max-width: 25%;
  }
  .project-image {
    margin: 32px 0;
  }
  .project-metas {
    padding-left: 15px;
  }
  .one-project-row.active:hover::after,
  .one-project-row.active::after,
  .one-project-row:hover::after,
  .one-project-row::after {
    font-size: 16px;
    top: 16px;
  }
}
